@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
  background-color: beige;
  text-align: center;
}

h1{
  font-size: 8rem;
  color: #0e7c7b;
  font-family: 'Lobster', cursive;
}

h2{
margin-top: 100px;
margin-bottom: -50px;
color: #ff0066;
font-family: 'Roboto', sans-serif;
}

p{
  font-size: 3rem;
  font-family: 'Indie Flower', cursive;
  color: #55917f;
}

.dice{
  display: inline-block;
  margin:0 30px 0 30px;
}
